[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
cohere = "*"
python-dotenv = "*"
pydantic = "*"
pydantic-settings = "*"
supabase = "*"
google-genai = "*"
pillow = "*"
pypdf = "*"
pdf2image = "*"

[dev-packages]

[requires]
python_version = "3.11"
